* {
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #050505;                    /* background                                   */
    --section-color: #0D0D12;               /* sections, backgrounds                        */
    --card-color: #14141B;                  /* cards, boxes, containers                     */
    --border-color: #1F1F2E;                /* seperators, borders                          */
    --secondary-font-color: #A1A1AA;        /* secondary text, icons(inactive)              */
    --font-color: #FFFFFF;                  /* headlines, important texts                   */

    --background-linear: linear-gradient(90deg,rgba(139, 92, 246, 1) 0%, rgba(0, 212, 255, 1) 100%); /* background, hero sections, linears gradients, buttons   */
    --hover-linear: linear-gradient(90deg,rgba(255, 46, 214, 1) 0%, rgba(139, 92, 246, 1) 100%);     /* hover-effects, accents, special highlights              */

    --sucess-color: #39FF88;                /* positive actions, achievments, statistics    */
    --warning-color: #FDD835;               /* warnings, tips                               */
    --error-color: #FF4D4F;                 /* errors, critical actions                     */
    --info-color: #00D4FF;                  /* informations, neutral tips                   */

    --main-primary: #8B5CF6;                /* main color, accents, buttons, highlights     */
    --electricblue-primary: #00D4FF;        /* secondary accents, links, icons              */
    --hightlights-primary: #FF2ED6;         /* important highlights, hover effects          */
    --postive-primary: #39FF88;             /* positive actions, achievments, statistics    */
}

html, body {
    min-height: 100vh;
    background-color: var(--bg-color);
}

header {
    min-height: 7.5vh;
    background-color: var(--section-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section {
    margin-right: 3%;
}

header a {
    text-decoration: none;
    padding-left: 2vh;
    color: var(--secondary-font-color);
}

.btn-trans {
	box-shadow: 0px 0px 13px 0px var(--border-color);
	background-color:transparent;
	border-radius:7px;
	border:1px solid var(--border-color);
	display:inline-block;
	cursor:pointer;
	color: var(--secondary-font-color);
	font-family:Arial;
	font-size:14px;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--secondary-font-color);
}

.btn-trans:hover {
	background-color:transparent;
}

.btn-trans:active {
	position:relative;
	top:1px;
}

.btn-filled {
    margin-left: 1vh;
	box-shadow: 0px 0px 13px 0px var(--border-color);
	background-color: var(--main-primary);
	border-radius:7px;
	border:1px solid var(--border-color);
	display:inline-block;
	cursor:pointer;
	color: var(--font-color);
	font-family:Arial;
	font-size:14px;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--font-color);
}

.btn-filled:hover {
	background-color: transparent;
}

.btn-filled:active {
	position: relative;
	top: 1px;
}

main {
    min-height: 77.5vh;
}

.section {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.section img {
    border-radius: 30px;
}

.feature-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);

    color: var(--font-color);
    padding: 2%;
}

.feature-card {
    border: 2px solid var(--border-color);
    border-radius: 10%;
    padding: 6%;
    margin: 3px;
}

.feature-card p {
    color: #ffffff50;
}

footer {
    min-height: 15vh;
    background-color: var(--section-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

footer div {
    text-align: center;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items:end;
    grid-column: span 3 / span 3;
    grid-row-start: 2;
    color: var(--secondary-font-color)
}

footer a {
    text-decoration: none;
    text-align: center;
}

h1 {
    color: var(--font-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
    color: var(--font-color);
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}